<div class="container-fluid">

</div>

<%= link_to('Rockage', admin_tournaments_path) %><br />

<br />

<% if admin_user_signed_in? %>
    <%= current_admin_user.email %><br />
    <%= link_to('Logout', destroy_user_session_path, :method => :delete) %><br />
<% end %>

<br />

<%= link_to('Show quadrants', admin_tournaments_show_quadrants_path, :method => :post) %><br />

Tournaments: <br />
<% @tournaments.each do |t| %>
    <%= link_to(t.name, admin_show_tournament_path(t.slug)) %><br />
<% end %>