<div class="container-fluid">

</div>

<%= link_to('Rockage image', admin_tournaments_path) %>
<% if admin_user_signed_in? %>
    <li>
      <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
      <%= current_admin_user.email %>
    </li>
<% end %>

Tournament image <br />
<%= @tournament.name %> <br />
<%= @tournament.when %> <br />
Tournament size: <%= @tournament.max_num_entries %><br />
Spaces left: <%= @tournament.max_num_entries - @tournament.users.size %><br />
<br />
Entrants: <br />
<% @tournament.users.each do |u| %>
    <%= u.username %> (<%= u.email %>)<br />
<% end %>
<br />
<% if @tournament.running? %>
    This tournament is running. <br />
    <%= link_to('Cancel tournament', admin_cancel_tournament_path(@tournament.slug), :method => :put) %>
<% else %>
    <%= link_to('Start tournament', admin_start_tournament_path(@tournament.slug), :method => :put) %>
<% end %>