<div class="container-fluid">

</div>

<%= link_to('Rockage image', root_path) %>
<% if user_signed_in? %>
    <li>
      <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
      <%= image_tag current_user.gravatar_url %>
      <%= current_user.email %>
    </li>
<% end %>

Tournament image <br />
<%= @tournament.name %> <br />
<%= @tournament.when %> <br />
Spaces left: <br />

<% if user_signed_in? %>
    <% if flash[:added] %>
        Welcome to the <%= @tournament.name %> tournament!<br />
    <% end %>

    <% if current_user.has_tournament?(@tournament) %>
        <!--if tournament has begun, Drop out => Forfeit, if waitlist, => Leave waitlist -->
        <%= link_to('Drop out', leave_tournament_path, :method => :delete) %>
    <% else %>
        <!--if no spaces left, Join => Join waitlist -->
        <%= link_to('Join', join_tournament_path, :method => :create) %>
    <% end %>
<% else %>

<% end %>