<div class="container-fluid">

</div>

<%= link_to('Rockage', root_path) %><br />

<br />

<% if user_signed_in? %>
    <%= image_tag current_user.gravatar_url %><br />
    <%= current_user.email %><br />
    <%= link_to('Logout', destroy_user_session_path, :method => :delete) %><br />

    <br />
<% end %>

<%= @tournament.name %> <br />
Tournament size: <%= @tournament.max_num_entries %><br />
Spaces left: <%= @tournament.max_num_entries - @tournament.users.size %><br />

<% if user_signed_in? %>
    <% if flash[:added] %>
        Welcome to the <%= @tournament.name %> tournament!<br />
    <% elsif flash[:removed] %>
        You've left the <%= @tournament.name %> tournament.<br />
    <% end %>

    <% if current_user.has_tournament?(@tournament) %>
        <!--if tournament has begun, Drop out => Forfeit, if waitlist, => Leave waitlist -->
        <% if @tournament.running? %>
            <%= link_to('Forfeit', leave_tournament_path, :method => :delete) %>
        <% else %>
            <%= link_to('Drop out', leave_tournament_path, :method => :delete) %>
        <% end %>
    <% elsif current_user.is_waitlisted_for?(@tournament) %>
        <%= link_to('Leave waitlist', leave_tournament_path, :method => :delete) %>
    <% else %>
        <% if @tournament.running? %>
            <%= link_to('Join waitlist', join_tournament_path, :method => :create) %>
        <% else %>
            <%= link_to('Join', join_tournament_path, :method => :create) %>
        <% end %>
        <!--if no spaces left, Join => Join waitlist -->
    <% end %>
<% else %>
    <%= link_to('Login to join', new_user_session_path) %>
<% end %>