<div class="container-fluid">

</div>

<%= link_to('Rockage', root_path) %><br />

<br />

<% if user_signed_in? %>
      <%= image_tag current_user.gravatar_url %><br />
      <%= current_user.email %><br />
      <%= link_to('Logout', destroy_user_session_path, :method => :delete) %><br />

    <br />

    My tournaments <br />
    <% @tournaments = Tournament.all %>
    <% @tournaments = @tournaments.sort_by { |t| t.name.downcase } %>
    <% current_user.tournaments.each do |t| %>
        <%= link_to(t.name, tournament_path(t.slug)) %><br />
    <% end %>
    <br /><br />
    Available tournaments <br />
    <% (@tournaments - current_user.tournaments).each do |t| %>
        <%= link_to(t.name, tournament_path(t.slug)) %><br />
    <% end %>
<% else %>
    Rockage description <br />
    <li>
      <%= link_to('Register', new_user_registration_path)  %>
    </li>
    <li>
      <%= link_to('Login', new_user_session_path)  %>
    </li>
<% end %>