<div class="container-fluid">

</div>

<%= link_to('Rockage', root_path) %><br />

<br />

<% if user_signed_in? %>
      <%= image_tag current_user.gravatar_url %><br />
      <%= current_user.email %><br />
      <%= link_to('Logout', destroy_user_session_path, :method => :delete) %><br />

    <br />

    My tournaments (click on a Tournament to drop it) <br />
    <% @tournaments = Tournament.all %>
    <% @tournaments = @tournaments.sort_by { |t| t.name.downcase } %>

    <table style="width:750px;">
      <% current_user.tournaments.each do |t| %>
          <tr>
            <td><%= link_to(t.name, leave_tournament_path(t.slug), :method => :delete) %></td>
            <td><%= t.users.count.to_s + "/" + t.max_num_entries.to_s + " joined" %></td>
          </tr>
      <% end %>
    </table>

    <br /><br />
    Available tournaments (click on a Tournament to join it)<br />
    <table style="width:750px;">
      <% (@tournaments - current_user.tournaments).each do |t| %>
          <tr>
            <td><%= link_to(t.name, join_tournament_path(t.slug), :method => :post) %></td>
            <td><%= t.users.count.to_s + "/" + t.max_num_entries.to_s + " joined" %></td>
          </tr>
      <% end %>
    </table>
<% else %>
    Rockage description <br />
    <li>
      <%= link_to('Register', new_user_registration_path)  %>
    </li>
    <li>
      <%= link_to('Login', new_user_session_path)  %>
    </li>
<% end %>